html, body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
}

body {
    box-sizing: border-box;
    font-size: 16px;
}

#meat {
    background-image: linear-gradient(90deg, rgba(107,180,94,.3) 0%, rgba(199,150,82,.5) 100%), url(lake.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#meat .content {
    color: white;
    margin: 0 auto;
    padding: 14em 0 14em;
}
.content {
    width: 960px;
    margin: 0 auto;
    padding: 2em 0 1em;
}

h1 {
    font-size: 8em;
    margin: 2em auto 0;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #febd00 80%);
  }


#potatoes .content {
    margin: 0 auto;
    padding: 5em 0 5em;
}

#footer{
    background-color: #f7f7f7;
}
#footer .content {
    margin: 0 auto;
    padding: 2em 0 2em;
    color: #03543e;
    opacity: .3;
    font-size: .8em;
}
