

body { 
  margin: 0;
  font-size: 10pt;
  color: #DBDAD9;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-image: url('/projects/sperm-caucus/img/background2.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

h1 { 
  font-size: 3em;
  font-weight: 600;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 5em;
  
}

.banner {
  background-position: 50% 60%;
  background-size: cover;
  padding: 10vh 8vh 5vh;
  text-align: center;
}

.hidden-div {
  display: none;
}

.section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

span .interactive-title {
  display: inline-block
}

select {
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0 .3em;
  font-size: 1.1em;
  color: #DBDAD9;
  font-weight: bold;
  appearance: none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #DBDAD9;
  border-radius:0;
}

.section p { 
  flex: 1;

}

svg {
  height: 70vh;
}

@media (max-width: 600px) {
  .section {
    flex-direction: column;
  }
  .section svg {
    flex: none;
  }
}


/* SVG and Spermies Styles */

.spermies {
  fill: white;
  opacity: 0.8;
  padding: 1px;
  cursor: pointer;

}

/* .selected {
  stroke: #D5B63B;
  stroke-width: 2;
} */


.title {
  font-size: 1.2em;
  font-weight: 300;

}

/* Doodads*/




.tooltip {
  position: absolute;
  visibility: hidden;
  background-color:rgba(255,255,255,0.8);
  padding: 10px;
  pointer-events: none;
  color: black;
}


/* Buttons */

.button-container {
  padding-top: 20px;
  text-align: center;
  margin: auto;
}

button {
  display: inline-block;
  background-color: transparent;
  color: #DBDAD9;
  padding:0.35em 1.2em;
  border:0.1em solid #DBDAD9;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  text-align:center;
  transition: all 0.2s;
}

button:hover {
  color:#000000;
  background-color:#DBDAD9;
}
