@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100:0,300;0,400;0,500;0,800;1,300&display=swap');



body { 
  margin: 0;
  font-size: 10pt;
  color: #DBDAD9;
  background-image: url('/projects/sperm-caucus/img/background2.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
}

h1 { 
  font-size: 4em;
  font-weight: 600;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 5em;
  
}

.banner {
  width: 100%;
  background-position: 50% 60%;
  background-size: cover;
  padding: 8vh 8vh 1vh;
  text-align: center;
}

#title-banner {
  width: 66%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.hidden-div {
  display: none;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

span .interactive-title {
  display: inline-block
}

select {
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0 .3em;
  font-size: 1.1em;
  color: #DBDAD9;
  font-weight: bold;
  appearance: none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #DBDAD9;
  border-radius:0;
}

.section p { 
  flex: 1;

}

svg {
  height: 90vh;
}

@media (max-width: 600px) {
  .section {
    flex-direction: column;
  }
  .section svg {
    flex: none;
  }
}


/* SVG and Spermies Styles */

.spermies {
  padding: 1px;
  cursor: pointer;
}

.title {
  font-size: .8em;
  font-weight: 300;
  fill: #DBDAD9;
}

/* Doodads*/

.selected {
  
  stroke: white;
  stroke-width: 2px;
  color: none;
  
}

.tooltip {
  position: absolute;
  visibility: hidden;
  text-align: left;
  background-color:rgba(255,255,255,0.8);
  padding: 10px 20px;
  pointer-events: none;
  color: black;
  font-weight: 800;
  line-height: 1.7;
}

.info {
  font-weight: 300;
}

.link {
  font-size: .9em;
  opacity: .5;
}

#toolbar-container {
  padding: 20px;
  font-size: 1em;
  color: #DBDAD9;
  z-index: 1;

}


/* Buttons */

.button-container {
  padding-top: 20px;
  text-align: center;
  margin: auto;
}

button {
  display: inline-block;
  background-color: transparent;
  color: #DBDAD9;
  padding:0.35em 1.2em;
  border:0.1em solid #DBDAD9;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  text-align:center;
  transition: all 0.2s;
}

button:hover {
  color:#000000;
  background-color:#DBDAD9;
}

.gbutton.active {
  background: #DBDAD9;
  color: #000000;
}

.cbutton.active {
  background: #DBDAD9;
  color: #000000;
}

.gbutton {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}
