* {
  box-sizing: border-box;
}

html, body {
  min-height: 200vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
  color: #352418;
  font-size: 15pt;
  line-height: 1.5;
  background-color: #f9f9f7;
}


.title {
  text-align: center;
}

#navbar {
  background-color: yellow;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.mini-title {
}

header {
  background-color: #cccccc;
  color: white;
}


section {
  margin: 10px;
  padding: 50px; /* this might be a place to feed data into CSS */
  outline: black solid 1px;
}

input {
  position: fixed;
  top: 50%;
  right: 10%; /* why is this weird?? */
  width: 200px; /* I want this to be client height */
  height: 20px;
  transform: rotate(90deg);
}

#depthLabel {
  position: fixed;
  font-size: 20pt;
  color: green;
}

#layers {
  width: 100%;
  height: 100vh;
  background-color: lightgray; /* Just to see the boundaries of it*/
}