/* General */ 

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
  

  * {
    box-sizing: border-box;
  }
    

  html, body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    color: #352418;
    font-size: 15pt;
    line-height: 1.5;
    background-color: #f9f9f7;
  }


.title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 3em;
    font-style: bold;
    line-height: 1em;
    font-weight: bold;
    }


.content {
    max-width: 600px;
    margin: auto;
    align-content: center;
    font-weight: normal;
    }

p .text{
    padding-bottom: 1em;
}

h4 {
  font-size: 1em;
}

/* Brand Yolks Chart */ 

#chart {
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
}

svg {
  margin: 10px;
  
}

.productLabel {
  font-size: .8em;
  text-transform: uppercase;
}

.store {
  baseline-shift: -150%;
  font-size: .6em;
  font-style: italic;
}

circle {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

/* Toggles */ 


#toggle-container {
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 20px;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  font-size: .5em;
  
}

.switch-field {
	display: flex;
	margin-bottom: 20px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 1em;
	line-height: 1;
	text-align: center;
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #FED200;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
