body {
  padding-top: 10vh;
  margin: 0;
}

#art {
  text-align: center;
  margin: auto;
  padding: 0 10px;
  height: 80vh;
  width: auto;
}

#svg {
  background-color: orchid;
}

.line {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}
