/* Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;800;900&display=swap');


body {
    font-family: 'Nunito-Sans', sans-serif;
    font-weight: 200;
    font-size: 13px;
    color: #e2e2e2;
    background-color: #292929;
}

h1{ 
    font-size: 3em;
}

.explainer-label {
    fill: #e2e2e2;
    font-weight: 900;
    font-size: 3em;
}

#header {
    text-align: center;
    margin: 20vh 0;
}

#audience-explainer {
    width: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "imdb-label rt-label"; */
    text-align: center;
    margin: 0 auto 10vh auto;
}
/* .audience-label {
    font-size: 3em;
    font-weight: 900;
}
#imdb-label { grid-area: imdb-label; }
#rt-label { grid-area: rt-label; } */

#triangle-explainer {
    text-align: center;
}

#triangle-explainer-svg{
    width: 200px;
    height: 200px;
    transform-origin: 50% 50%;
}

#chart {
    max-width: 700px;
    margin: auto;
    text-align: center;
}


.glyph {
    background-color: #292929;
    margin: 10px;

}

.top {
    z-index: 4;
   
}
.explainer-triangle {
    opacity: .3;
}
.triangle {
    opacity: .6;
}

.RT-audience-rating {
    /* stroke: black;
    stroke-width: 1px; */
}
.imdb-rating {
    /* stroke: black;
    stroke-width: 1px; */
}

.wiggle {
    transform-origin: 50% 50%;
    -webkit-animation: wiggle 6s ease-in-out infinite;
    -moz-animation: wiggle 6s ease-in-out infinite;
    animation: wiggle 6s ease-in-out infinite;
}

.sparkle{
    fill: white;
}

.critic-triangle {
    stroke: white;
    stroke-width: 1px;
}

.axis-line {
    stroke: black;
    stroke-width: 1px;
    stroke-linecap: round;

}
.movieLabel {
    fill: lightGray;
    stroke: none;
    text-anchor: middle;
}



/* Animation key frames */
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   93% { transform: rotate(0deg); }
   95% { transform: rotate(5deg); }
   97% { transform: rotate(-5deg); }
   98% { transform: rotate(1deg); }
   99% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}
