

body { 
  margin: 0;
  font-size: 10pt;
  color: #DBDAD9;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-image: url('/projects/sperm-reasons/img/background2.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.banner {
  width: 100%;
  background-position: 50% 60%;
  background-size: cover;
  text-align: center;
}

#title-banner-container {
  background-image: linear-gradient(0deg, rgba(0,0,0,.7) 0%, rgba(100,100,100,.7) 100%), url('/projects/sperm-reasons/img/spermMicroscope.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

#title-banner {
  width: 66%;
  margin: auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
  justify-content: center;
  text-align: center;
}


h1 { 
  font-size: 6em;
  font-weight: 600;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
  padding-top: 2em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
}

p {
  margin: 0;
}

.content {
  min-width: 300px;
  max-width: 33%;
  margin: 0 auto;
  padding: 5em;
  text-align: left;
  line-height: 1.5em;
}

.instructions {
  min-width: 300px;
  max-width: 33%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 5em;
  padding-right: 5em;
  text-align: left;
  line-height: 1.5em;
}

.reason {
  font-weight: 600;
  color: #EDB400;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.imgRead {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.caption{
  max-width: 700px;
  margin: auto;
  padding-top: 10px;
  font-style: italic;
  line-height: 1.5em;
  opacity: .6;
}
.pic-container {
  max-width: 60%;
  align-content: center;
  margin: auto;
  opacity: .9;
}
.section {
  padding-top: 20px;
}

footer {
  padding: 40px;
  background-color: black;
  opacity: .4;
  text-align: right;
}


#vis {
  align-content: center;
}

svg {
margin: auto;
width: 60%;
height: 300vh;
}







/* Links */

a {
  color: #DBDAD9;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

a:visited {
  opacity: .7;
}


/* Doodads*/

.reasonText {
  font-size: .5em;
}

.rowRect {
  fill: none;
}

 g.active > rect {
  fill: black;
  opacity: .2;
 }

.tooltip {
  position: block;
  visibility: hidden;
  background-color:rgba(255,255,255,0.8);
  padding: 10px;
  pointer-events: none;
  background-color: black;
  color: #DBDAD9;
}

#tooltip {
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 40px;
  right: 40px;
  padding: 30px;
  font-size: .8em;
  
}

#tooltip-stars {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  background-image: url('/projects/sperm-reasons/img/5stars.png');
  background-size: contain;
  background-repeat:no-repeat;
  ;
}

#tooltip-stars-blocker {
  height:100%;
  width:100%;
  background-color: black;
  opacity: .8;
  float: right
}


#tooltip-extras {
  display: none;
}

#ttHeader {
  text-align: left;
  font-size: 2.2em;
  font-weight: 100;
  padding-bottom: 20px;
}

#ttHeaderR {
  font-weight: 600;
}

#ttReason {
  padding: 15px;
  font-size: 1.4em;
  font-weight: 300;
  background-color: #DBDAD9;
  color: black;
}

.ttRating {
  margin: 15px;
  padding-top: 10px;
  font-size: 1.1em;
}

.ttExtras {
  padding-left: 15px;
  padding-right: 15px;
}


/* Axes */

g.tick > text {
  fill: #DBDAD9;
  font-size: .5em;
}

.axis path,
.axis line {
    fill: none;
    stroke: #DBDAD9;
    shape-rendering: crispEdges;
}

.y.axis path,
.y.axis line {
    display: none;
}