

body { 
  margin: 0;
  font-size: 10pt;
  color: #DBDAD9;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-image: url('/projects/sperm-caucus/img/background2.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

h1 { 
  font-size: 3em;
  font-weight: 600;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 5em;
  
}

.hidden-div {
  display: none;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}


select {
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0 .3em;
  font-size: 1.1em;
  color: #DBDAD9;
  font-weight: bold;
  appearance: none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #DBDAD9;
  border-radius:0;
}

.section p { 
  flex: 1;

}

svg {
  height: 300vh;
  width: 50%;
  margin-left: 300px;
}

@media (max-width: 600px) {
  .section {
    flex-direction: column;
  }
  .section svg {
    flex: none;
  }
}


/* SVG and Spermies Styles */

.title {
  font-size: .8em;
  font-weight: 300;
  fill: #DBDAD9;
}

/* Doodads*/


.tooltip {
  position: block;
  visibility: hidden;
  background-color:rgba(255,255,255,0.8);
  padding: 10px;
  pointer-events: none;
  color: black;
}


/* Buttons */
