html, body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    line-height: 1.4;
}

#meat {
    background-image: linear-gradient(0deg, rgba(34,20,60,1) 50%, rgba(199,150,82,1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.data-section, .text-content{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 20px;
}

.text-section {
    margin-bottom: 100px;
}

.streamgraph-text {
    display: none;
}

h1 {
    font-size: 5em;
    padding: 1em 0;
    margin: 0 auto 0;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:rgba(199,150,82,1);
  }

.tooltip {
    font-size: 2em;
    fill: white;
}

.tick-label text{
    fill: white;
    opacity: .2;
}


/* Scrolly CSS */
#scrolly {
    position: relative;
    padding: 1rem;
  }

  article {
    position: relative;
    padding: 0;
    max-width: 700px;
    margin: 0 auto;
  }

  figure {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;
  }

  figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
  }

  figure svg {
      fill: white;
      margin: auto;
      text-align: center;
      display:block; 
  }

  .step {
    margin: 0 auto 50vh auto;
    height: auto;
    padding: 20px 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2); 
    
  }

  .step:last-child {
    margin-bottom: 100vh;
  }

  .step.is-active p.step-header {
    background-color: rgba(199,150,82,1);
    color: #3b3b3b;
  }

  .step p.step-header {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #3b3b3b;
  }

  #rivers, .a-huc, #states {
    opacity: 0;
  }

  /* SVG Map styling */

  .cls-1, .cls-2 {
    fill: none;
    stroke: #999;
    stroke-width: 0.75px;
  }

  .cls-1, .cls-4 {
    stroke-linejoin: round;
  }

  .cls-2 {
    stroke-miterlimit: 10;
  }

  .cls-3 {
    opacity: 0.5;
  }

  .cls-4 {
    fill: #5c98ff;
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 2px;
  }

  .highlighted_HUC, .highlighted_HUC g, .highlighted_HUC path {
    opacity: 1;
  }


  /* Meet Your Watershed */
  
  #meet-your-watershed { 
    display:none;
    max-width: 1000px;
    margin: 0 auto;
  }

  #load-warning {
    display:none;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
  }

  .flex-item {
    padding: 20px;  
    min-width: 300px;
    flex: 0 0 40%;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .flex-pic {
    max-width: 100%;
    height: auto;
  }
  /* Loading Ripple */

  .lds-ripple {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) normal;
    animation-iteration-count: 3;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }