html, body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
}

body {
    box-sizing: border-box;
    font-size: 16px;
}

#meat {
    background-image: linear-gradient(0deg, rgba(34,20,60,1) 50%, rgba(199,150,82,1) 100%), url(path.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#meat .content {
    color: white;
    margin: 0 auto;
    padding: 20px 0;
}
.content {
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    font-size: 5em;
    margin: 1em auto 0;
}

a {
    color:#026043;
    text-decoration: none;
    font-weight: bold;
  }

.tooltip {
    font-size: 2em;
    fill: white;
}

.tick-label{
    
    fill: white;

}
