html, body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
}

body {
    box-sizing: border-box;
    font-size: 16px;
}

#meat {
    background-image: linear-gradient(0deg, rgba(34,20,60,1) 50%, rgba(199,150,82,1) 100%), url(path.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#meat .data-section {
    color: white;
    margin: 0 auto;
    padding: 20px 0;
}
.data-section {
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    font-size: 5em;
    padding: 1em 0;
    margin: 0 auto 0;
    color: white;
    text-align: center;
}

a {
    color:#026043;
    text-decoration: none;
    font-weight: bold;
  }

.tooltip {
    font-size: 2em;
    fill: white;
}

.tick-label text{
    
    fill: white;
    opacity: .2;

}
